*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.main-container{
  position: relative;
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
}
.header{
  position:fixed;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 20;
  background-color: #fff;
  /* margin-bottom: 250px; */
  /* border: 1px solid red; */
  height: 80px;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
  padding-left: 130px;
}
.header-navbar{
  display: flex;
  align-items: center;
  gap: 45px;
}
.link-logo{
  display: flex;
  cursor: pointer;
}
.header-link{
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: all .3s ease;
}
.header-link:hover{
  color: #52904C;
}
.login-button{
  background-color: #52904C;
  border: none;
  color: white;
  font-weight: 700;
  width: 150px;
  display: flex;
  height: 40px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.login-text{
  font-size: 12px;
}
.login-logo{
  font-size: 20px;
  /* width: 30px; */
}
.index-content__container{
  display: flex;
  min-height: calc(100vh - 80px);
  /* border: 1px solid red; */
  justify-content: flex-end;
  padding-top:130px;
  /* margin-top: 30px; */
  gap: 20px;
  align-items: center;
  /* margin-bottom: 20px; */
}
.index-image{
  width: 40%;
  position: relative;
  border-radius: 50px 0 50px 50px;
  background-color: #52E879;
  height: 450px;
}
.index-content{
  width: 47%;
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.index-content__subtext{
  font-weight: 400;
  font-size: 30px;
}
.index-content__title{
  font-size: 70px;
  line-height: 75px;
  border-bottom: 7px solid #52E879;
  width: 430px;
  margin-bottom: 20px;
}
.index-content__title span{
  color: #52904C;
}
.index-content__text{
  font-size: 14px;
  color: gray;
  line-height: 27px;
  margin-bottom: 15px;
}
.index-image__image{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 280px;
}
.index-download{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  /* width: 300px; */
}
.index-download img{
  width: 170px;
  cursor: pointer;
}
.index-social-media{
  position: absolute;
  padding: 10px 0 10px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 45px;
  background-color: #52904C;
  top: 40vh;
  height: 170px;
}
.index-social-media i{
  color: white;
  cursor: pointer;
  padding: 10px;
}
.header-logo{
  width: 150px;
}
.hamburguer-menu{
  width: 40px;
  display: none;
}

/* hasta aquí hice media queris */

.article__container{
  padding-top: 100px;
  /* margin-top: 80px; */
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 100vh;
}
.proyecto-titulo__container, .ventajas-titulo__container{
  position: relative;
  background-color: #52904C;
  height: 50px;
  margin-bottom: 60px;
}
.proyecto-titulo__container h2, .ventajas-titulo__container h2{
  display: flex;
  align-items: center;
  background-color: #52904C;
  position: absolute;
  right: 0;
  /* border: 1px solid red; */
  width: 410px;
  height: 90px;
  font-size: 27px;
  padding-left: 30px;
  border-bottom-left-radius: 15px;
  color: #fff;
}
.proyecto__content, .ventajas__content{
  margin: auto;
  /* margin-left: 40px; */
  display: flex;
  /* height: 400px; */
  flex: 1;
  width: 90%;
  /* border: 1px solid blue; */
  justify-content: center;
}
.proyecto-img, .ventajas-img{
  min-width: 400px;
  max-width: 700px;
  object-fit: contain;
  /* border: 1px solid red; */

}
.proyecto-texto__container,.ventajas-texto__container{
  padding-top: 100px;
  padding-left: 30px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  /* border: 1px solid red; */
}
.proyecto-texto-titulo,.ventajas-texto-titulo{
  font-size: 40px;
  line-height: 40px;
  border-bottom: 5px solid #52904C;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.proyecto-texto-p,.ventajas-texto-p{
  font-size: 17px;
  text-align: right;
}
.ventajas-titulo__container{
  background-color: #fff;
  /* border: 1px solid red; */
  margin-bottom: 0;
}
.ventajas-titulo__container h2{
  /* border: 1px solid red; */
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 70px;
  color: #52904C;
  height: 90px;
  font-size: 45px;
  background-color: #fff;
  left: 0;
  text-align: right;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 15px;
}
.ventajas__content{
  position: relative;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #52904C;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 120px;
  overflow: hidden;
}
.ventajas-texto__container{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  gap: 35px;
  max-width: 45%;
  min-width: 100px;
  align-content: center;
  margin-right: 30px;
}
.ventajas-text__article{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ventajas-text__subtitle{
  font-size: 45px;
  width: 390px;
  line-height: 50px;
}
.ventajas-text-list__container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}
.ventajas-list-item{
  font-size: 15px;
  font-weight: 100;
}
.ventajas-img{
  position: absolute;
  top: 100px;
  right: -240px;
  display: flex;
  /* bottom: 0; */
  /* left: 0; */
  /* margin: auto; */
  max-width: 900px;
  min-width: 700px;
  /* border: 1px solid red; */
  object-fit: contain;
  height: fit-content;
}
.bold{
  font-weight: 700;
}
.footer__container{
  display: flex;
  background-color: #444;
  height: 350px;
  padding: 30px;
  color: #fff;
}
.footer-app-button{
  width: 150px;
  border-radius: 15px;
  cursor: pointer;
}
.apps-social-media__container{
  /* border: 1px solid white; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer-apps, .footer-social-media{
  display: flex;
  gap: 10px;
}
.footer-social-media i{
  margin-top: 20px;
  background-color: #fff;
  color: black;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-title, .footer-contacto-title{
  font-size: 25px;
  font-weight: 600;
}
.footer-contacto__container{
  width: 50%;
  /* border: 1px solid white; */
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.inputs-title__container{
  border-top: 2px solid #52E879;
  border-bottom: 2px solid #52E879;
  padding: 15px 0;
  margin-bottom: 20px;
}
.footer-contacto-text{
  font-size: 10px;
  font-style: italic;
  color: #ccc;
}
.footer-contacto-inputs__container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 10px;
}
.footer-contacto-input{
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 5px;
  padding-left: 10px;
  font-weight: 500;
}
.footer-contacto__button{
  width: fit-content;
  background-color: #52904C;
  border-radius: 15px;
  font-weight: 600;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
.tecnologia-contenido__container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  gap: 100px;
  padding-bottom: 100px;
}
.tecnologia-titulo__container{
  padding-top: 80px;
}
.tecnologia-buttontext__container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 50%; */
}
.tecnologia-text__container{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  max-width: 450px;
  gap: 20px;
}
.tecnologia-title{
  border-bottom: 4px solid #52904C;
  max-width: 250px;
}
.tecnologia-text{
  color: #444;
}
.tecnologia-buttons__container{
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  gap: 15px;
}
.tecnologia-button{
  background-color: #52904C;
  color: white;
  font-size: 23px;
  font-weight: 600;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;
}
.tecnologia-button:hover{
  box-shadow: 0 0 10px 4px rgba(7, 7, 7, .3);
}
.tecnologia-videos__container{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tecnologia-video{
  max-width: 400px;
  min-width: 300px;
}
.tecnologia-modal__container{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 30;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.tecnologia-modal__card{
  position: relative;
  background-color: white;
  max-width: 600px;
  min-width: 500px;
  margin: 30px;
  display: flex;
  padding: 65px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px 4px rgba(5, 5, 5, .3);
}
.tecnologia-modal__card i{
  position: absolute;
  right: -5px;
  top: -10px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  background-color: #52E879;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* color: white; */
}


.showModal{
  display: flex;
}
@media (max-width: 870px){
  .header{
    padding-left: 25px;
    padding-right: 20px;
  }
  .header-link{
    display: none;
  }
  .login-button{
    display: none;
  }
  .header-logo{
    width: 250px;
  }
  .index-content__container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
  }
  .index-content__subtext{
    font-size: 20px;
  }
  .index-content__title{
    font-size: 45px;
    line-height: 50px;
    border-bottom: 7px solid #52E879;
    width: 280px;
    padding-bottom: 10px;
    /* border: 1px solid red; */
    margin-bottom: 20px;
  }
  .index-content__text{
    font-size: 12px;
    line-height: 20px;
    width: 100%;
  }
  .index-image{
    width: 95%;
    padding: 30px 0;
    /* border: 1px solid red; */
    border-radius: 30px;
    background-color: #52E879;
    height: 360px;
  }
  .index-content{
    /* align-items: center; */
    /* margin: auto; */
    width: 100%;
    padding: 20px;
    padding-top: 0;
    margin-bottom: 20px;
    /* border: 1px solid red; */
  }
  .index-image__image{
    width: 250px;
  }
  .index-download{
    /* position: absolute; */
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    gap: 10px;
    top: 800px;
    margin-bottom: 25px;
  
    /* width: 300px; */
  }
  .index-download img{
    width: 110px;
    cursor: pointer;
  }
  .hamburguer-menu{
    display: block;
  }
  .index-social-media{
    display: none;
  }

  .article__container{
    min-height: 100%;
  }
  .proyecto-titulo__container, .ventajas-titulo__container{
    height: 35px;
    margin-bottom: 30px;
  }
  .proyecto-titulo__container h2, .ventajas-titulo__container h2{
    width: 230px;
    height: 70px;
    font-size: 19px;
  }
  .proyecto-img, .ventajas-img{
    display: none;
  }
  .proyecto-texto__container,.ventajas-texto__container{
    padding-top: 35px;
    padding-left: 0px;
    min-width: 100%;
    align-items: center;
    width: 70%;
    /* border: 1px solid red; */
  }
  .proyecto-texto-titulo,.ventajas-texto-titulo{
    font-size: 25px;
    line-height: 30px;
  }
  .proyecto-texto-p,.ventajas-texto-p{
    text-align: center;
    font-size: 12px;
  }
  .ventajas-titulo__container{
    background-color: #fff;
    /* border: 1px solid red; */
    margin-bottom: 0;
  }
  .ventajas-titulo__container h2{
    /* border: 1px solid red; */
    justify-content: center;
    padding-left: 0px;
    padding-right: 0;
    height: 70px;
    font-size: 25px;
  }
  .ventajas__content{
    overflow: visible;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .ventajas-text__article{
    /* border: 1px solid red; */
    width: 90%;
  }
  .ventajas-text__subtitle{
    font-size: 28px;
    width: 80%;
    line-height: 35px;
  }
  .ventajas-list-item{
    font-size: 12px;
  }
  .ventajas-img{
    display: none;
  }
  .tecnologia-contenido__container{
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;
  }
  .tecnologia-text__container{
    align-items: center;
  }
  .tecnologia-text{
    text-align: center;
  }
  .tecnologia-video{
    max-width: 300px;
    min-width: 100px;
  }
  .tecnologia-modal__card{
    min-width: 300px;
    font-size: 12px;
    max-width: 400px;
    padding: 20px;
  }
  .showModal{
    display: flex;
  }
  .footer__container{
    height: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footer-app-button{
    width: 95px;
  }
  .apps-social-media__container{
    /* border: 1px solid white; */
    width: 100%;
    gap: 5px;
  }
  .footer-apps, .footer-social-media{
    display: flex;
    gap: 10px;
  }
  .footer-social-media i{
    margin-top: 10px;
  }
  .footer-contacto__container{
    width: 100%;
    padding-left: 0;
    align-items: center;
  }
  .inputs-title__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-contacto-text{
    text-align: center;
  }
  .footer-contacto-inputs__container{
    width: 75%;
  }
  .footer-contacto-input{
    padding-left: 0;
    text-align: center;
  }
  .footer-contacto__button{
    width: fit-content;
    background-color: #52904C;
    border-radius: 15px;
    font-weight: 600;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
}
@media(min-width: 1600px){
  .header{
    height: 100px;
    padding-left: 200px;
  }
  .header-link{
    font-size: 20px;
  }
  .header-logo{
    width: 190px;
  }
  .login-button{
    width: 190px;
    height: 50px;
    gap: 15px;
  }
  .login-text{
    font-size: 16px;
  }
  .login-logo{
    font-size: 25px;
  }
  .index-image{
    height: 500px;
  }
  .index-content__subtext{
    font-weight: 400;
    font-size: 35px;
  }
  .index-content__title{
    font-size: 90px;
    line-height: 90px;
    width: 530px;
  }
  .index-content__text{
    font-size: 17px;
    width: 700px;
  }
  .index-image__image{
    width: 330px;
  }
  .index-download img{
    width: 220px;
  }
  .index-social-media{
    padding: 10px 0 10px 0;
    width: 60px;
    height: 200px;
  }
  .index-social-media i{
    font-size: 22px;
  }
  .footer__container{
    height: 400px;
  }
  .footer-app-button{
    width: 190px;
  }
  .footer-social-media i{
    width: 60px;
    height: 60px;
    font-size: 22px;
  }
  .footer-title, .footer-contacto-title{
    font-size: 32px;
  }
  .footer-contacto-text{
    font-size: 12px;
  }
  .footer-contacto-inputs__container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
  }
  .footer-contacto-input{
    height: 40px;
    font-size: 18px;
    width: 350px;
    padding-left: 20px;
  }
  .footer-contacto__button{
    font-size: 20px;
  }
}

/* HEADER Y TEXTOS QUE COLISIONAN */
@media(max-width: 1095px){
  .header-link{
    font-size: 12px;
  }
  .ventajas-img{
    max-width: 780px;
    min-width: 700px;
  }
}
